<div class="min-h-screen bg-gray-100 p-8">
  <div class="max-w-7xl mx-auto">
    <div class="flex justify-between items-center mb-8">
      <h1 class="text-4xl font-bold text-gray-800">Pokémon Catalogue</h1>
      <button (click)="goToProfile()" class="bg-purple-600 text-white px-6 py-2 rounded-lg hover:bg-purple-700 transition">
        My Profile
      </button>
    </div>

    @if (loading()) {
      <div class="text-center py-20">
        <p class="text-xl text-gray-600">Loading Pokémon...</p>
      </div>
    } @else {
      <div class="mb-6 flex gap-2 flex-wrap">
        @for (type of allTypes(); track type) {
          <button (click)="selectedType.set(type)"
            [class.bg-purple-600]="selectedType() === type"
            [class.text-white]="selectedType() === type"
            [class.bg-white]="selectedType() !== type"
            [class.text-gray-800]="selectedType() !== type"
            class="px-4 py-2 rounded-lg border-2 border-purple-600 hover:bg-purple-100 hover:text-black transition">
            {{ type | capitalize}}
          </button>
        }
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        @for (pokemon of filteredPokemon(); track pokemon.id) {
          @defer(on timer(1000)){
          <app-pokemon-card 
            [pokemon]="pokemon" 
            [isCaught]="isCaught(pokemon.id)"
            (catch)="catchPokemon($event)">
          </app-pokemon-card>
          }
        }
      </div>
    }
  </div>
</div>
